{% extends 'main/layout.html' %}

{% block title %}About us{% endblock %}

{%block content%}

        <span class="display-1 , text-light">Welcome.</span>
        <span class="text-light "><br>| My name is Yavuz. I am a python software engineer based in Almaty, Kazakhstan.</span>
        <span class="text-light "><br>| I have developed many telegram-bots and python programs.</span>
        <span class="text-light "><br>| And this is my first website.</span>
        <span class="text-light "><br></span>
        <span class="text-light "><br></span>
        <span class="text-light "><br>| Back in 2020, when I was only 11 years old I started to learn Python.</span>
        <span class="text-light "><br>| I was learning on website that helped to kids to learn programming,</span>
        <span class="text-light "><br>| and I thought that I can make websites too, and 2 years later,</span>
        <span class="text-light "><br>| I started making websites, and this is my first website.</span>
        <span class="text-light "><br></span>
        <span class="text-light "><br></span>

        <span class="text-light "><br>| When I’m not at the computer, I’m usually walking around street,</span>
        <span class="text-light "><br>| listening to music, workout, improve myself. I'm also learning books,</span>
        <span class="text-light "><br>| learning something new, I'm still studying in school, I'm in 7th grade.</span>
        <span class="text-light "><br>| I want to become engineer-designer when I grow up.</span>

<style>

body {
background-image: url("https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg")
}



</style>

{% endblock %}


