{% extends 'main/layout.html' %}

{% block title %}Contact{% endblock %}

{%block content%}
        <span class="display-1 , text-light">Contact.</span>
        <span class="display-4 , text-light"><br> |    My instagram: <a href="https://www.instagram.com/clear_headed77/">https://www.instagram.com/clear_headed77/</a></span>
        <span class="display-4 , text-light"><br> |    My github: <a href="https://github.com/yavuzaydin12"> https://github.com/yavuzaydin12 </a></span>
        <span class="display-4 , text-light"><br> |    My gmail: yavuz.aydin555@gmail.com</span>
        <span class="display-4 , text-light"><br> |    My phone number: +77006969838</span>

<span class="text-grey"> ****   you found this message! ****</span>
<style>
        body {
            background-image: url("https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg")
        }

</style>

{% endblock %}
