{% extends 'main/layout.html' %}

{% block title %}Contact{% endblock %}

{%block content%}
        <span class="display-1 , text-light">My projects</span>
        <span class="display-4 , text-light"><br>        |    My first project(Calculator on Tkinter): <a href = 'https://github.com/yavuzaydin12/Calculator12/tree/master'>Calculator12</a></span>
        <span class="display-4 , text-light"><br>        |    <a></a></span>
        <span class="display-4 , text-light"><br>        |    <a></a></span>
        <span class="display-4 , text-light"><br>        |    <a></a></span>

<span class="text-grey"> ****   you found this message! ****</span>
<style>
        body {
            background-image: url("https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg")
        }

</style>

{% endblock %}
